:root {
  /* PLACE COLOUR SCHEME HERE */
  --green-gradient: linear-gradient(
    to right,
    rgb(182, 244, 146),
    rgb(51, 139, 147)
  );

  --primary-white: #f9f6ee;

  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* BASIC CSS FOR DEMO PURPOSES */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--green-gradient);
  text-align: center;
}

form {
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-white);
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}

button {
  border: none;
  border-radius: 1rem;
  background-color: rgb(97, 212, 97);
  padding: 1rem 2rem;
  transition: all 300ms;
  font-weight: bolder;
}

button:hover,
button:focus {
  background-color: green;
  cursor: pointer;
  transform: scale(0.98);
  color: var(--primary-white);
}

input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  outline: 2px solid darkslategray;
  border: none;
}

input:focus:invalid {
  outline-color: red;
}

input:focus:valid {
  outline-color: green;
}

.focused:invalid {
  outline-color: red;
}
.focused:valid {
  outline-color: green;
}

#loginMessage {
}
